{% extends "base.html" %}
{% block title %} OKR Health {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block sidebar_nav1 %}
<li class="active">
    <a href="/health">PingCAP OKR Set Ratio <span class="sr-only">(current)</span></a>
</li>
{% endblock %}
{% block sidebar_nav2 %}
<li><a href="/health?who=me">My Org OKR Set Ratio</a></li>
{% endblock %}
{% block sidebar %}
    {{ super() }}
{% endblock %}

{% block bodycontent %}

{% for deps in departs_list %}
<h2 class="sub-header">{{ deps[0] }}</h2>
    <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Department</th>
                  <th>Leader</th>
                  <th>Team Size</th>
                  <th>Healthy OKR</th>
                  <th>Healthy Ratio</th>
                    <th>Sick OKR (No OKR or any O without KR)</th>
                </tr>
              </thead>
              <tbody>
              {% for item in deps[1] %}
                <tr>
                    <!-- Team name-->
                    <td>{{ item[0] }}</td>
                    <!-- Leader name-->
                    <td>{{ item[1] }}</td>
                    <!-- Team size-->
                    <td>{{ item[2] }}</td>
                    <!-- healthy OKR amount-->
                    <td>{{ item[3] }}</td>
                    <!-- healthy OKR ratio-->
                    {% if item[4] >= 80 %}
                    <td><span class="label label-success">{{ item[4] }}%</span></td>
                    {% elif item[4] >=60 %}
                    <td><span class="label label-warning">{{ item[4] }}%</span></td>
                    {% else %}
                    <td><span class="label label-danger">{{ item[4] }}%</span></td>
                    {% endif %}
                    <!-- item[5] is a lit of [name, url, avatar] -->
                    <td>
                        <div class="row">
                        {% for ele in item[5] %}
                            <div class="col-xs-3 col-md-1">
                            <a href="{{ ele[1] }}" class="thumbnail">
                                <img src="{{ ele[2] }}" alt="{{ ele[0] }}">
                            </a>
                            </div>
                        {% endfor %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
    </div>
{% endfor %}

{% endblock %}